LOG_LEVEL=debug
LOG_ERROR_STACK=true
LOG_ERROR_CAUSE=false
LOG_ERROR_DETAILS=false
TRACING_ENABLED=true
TRACING_SLOW_MS=15000
TRACING_MODE=slow
FILE_CACHE_BACKEND=
APOLLO_TIMEOUT=
ARBITRUM_RPC=
ARC_RPC=
AVAX_RPC=
BASE_HPY=
BASE_RPC=
BERACHAIN_RPC=
BSC_RPC=
DAILY_HPY=
DIVVI_API_KEY=
ENABLE_TIMING=
ETH_RPC=
FORTUBE_API_TOKEN=
FORTUBE_REQ_MARKETS=
FORTUBE_REQ_TOKENS=
FRAXTAL_RPC=
GNOSIS_RPC=
GRAPH_API_KEY=
HOURLY_HPY=
HYPEREVM_RPC=
KYBER_CLIENT_ID=
LINEA_RPC=
LISK_RPC=
MANTLE_RPC=
MEGAETH_RPC=
METIS_RPC=
MM_BALANCE_API=
MONAD_RPC=
ODOS_API_KEY=
ODOS_CODE=
ONE_INCH_API=
ONE_INCH_API_KEY=
OPTIMISM_RPC=
PCS_GRAPHQL_KEY=
PLASMA_RPC=
POLYGON_RPC=
PORT=
REDISCLOUD_URL=
ROBINHOOD_RPC=
ROLLBAR_ACCESS_TOKEN=
ROLLBAR_ENDPOINT=
SEI_RPC=
SONIC_RPC=
THE_GRAPH_API_KEY=
WEEKLY_HPY=
ZAP_MOCK_SKIP_LIQUIDITY_CHECKS=
ZKSYNC_RPC=
BEEFY_MERKL_API_URL=https://merkl-api.beefy.finance
BEEFY_MERKL_API_KEY=test
