name: Pull-request actions

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # get repo code
      - uses: actions/checkout@v2
      # install node
      - name: Use Node.js 15.x
        uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      # install packages
      - run: yarn --frozen-lockfile
      # run checksum test
      - run: yarn checksum