name: Checksum Address Book Package

on:
  pull_request:
    branches:
      - master
    paths:
      - packages/address-book/**
      - '!packages/address-book/package.json'
      - '!packages/address-book/CHANGELOG.md'
      - '!packages/address-book/README.md'

jobs:
  checksum:
    name: 'Run Checksum Test for Address Book Package'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/address-book
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4
      - name: 'Setup Node'
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          scope: 'beefyfinance'
      - name: 'Install Packages'
        run: npm ci
      - name: 'Run Checksum Test'
        run: npm run checksum
