name: Heroku Deployment

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.13 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "beefy-api" #Must be unique in Heroku
          heroku_email: "devops.cows@pm.me"
